
.c-celeste{
    color: #25b7d3;
}
body{
    font-family: montserrat,sans-serif;
  background-color: #eee;
  overflow-x: hidden;
}
.text-dark {
    color: #343a40}
    
    .small{
        font-size: 80%;
        font-weight: 400;
    }
    .text-center {
        text-align: center
    }

    .btn-celeste{
        background-color: #25b7d3;
        color: white;
      }
      
      .btn-celeste:hover {
        border: 2px solid #25b7d3;
        background-color: white;
        color: #25b7d3;
      }

      .color-footer{
        background-color: #343a40;
      }
